// Use BEM - block__element--modifier
@main-text-color: #00315c;
@main-block-color: #003054;
@secondary-text-color: #e40524;
@secondary-block-color: #e40321;
@fine-print: #433b39;
@table-header: #d3d5d4;

.App {
	margin: 0;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

.header {
	background-color: @main-block-color;
	height: 120px;
}

.header__label--for-input {
	color: #ffffff;
}
